Python
*.pyc*.pyo*.pydpycache/*.py[cd]*.pyi*$py.class
Environments
.env.venvenv/venv/ENV/
Other
*.log*.pot*.joblibspeech_translation_history.json
speech_history.json
models/*.h5
models/*.joblib
models/*.h5
